.footer{
    background-image: url("../../images/footer.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: auto;
}
.bg-gradiant{
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}
.f-courses:hover{
    color: rgb(172, 0, 0) !important;
    cursor: pointer;
}
.f-mentor:hover{
    color: rgb(10, 89, 192) !important;
    cursor: pointer;
}
.f-body:hover .f-icon{
    color: rgb(6, 133, 38);
}
.f-body:hover .f-text{
    color: rgb(0, 0, 0) !important;
    cursor: pointer;
}
.icon-1:hover{
color: #009DED;
}
.icon-2:hover{
color: #1773EA;
}
.icon-3:hover{
color: #F14D49;
}
.icon-4:hover{
color: #0270AD;
}
.icon-5:hover{
color: #F70000;
}